FORMAT: 1A
HOST: https://www.ribose.com/

# Ribose API







## Calendar API

### Calendar Collection [/calendar]

#### List All Calendars [GET]

+ Response 200 (application/json)

  {
    "filter": {
      "enabled": [
        7,
        110,
        8
      ],
      "userSetting": []
    },
    "cal_info": [
      {
        "id": 7,
        "owner_type": "User",
        "name": "thomas.green",
        "owner_id": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "owner_name": "Personal",
        "display_name": "thomas.green (Personal)",
        "can_manage": true,
        "can_create_event": true
      },
      {
        "id": 110,
        "owner_type": "Space",
        "name": "The Earth",
        "owner_id": "326ee7a7-2c7c-4af0-9eb6-3f79b90dae92",
        "owner_name": "The Earth",
        "display_name": "The Earth (The Earth)",
        "can_manage": true,
        "can_create_event": true
      },
      {
        "id": 8,
        "owner_type": "Space",
        "name": "Mars",
        "owner_id": "b1d9b3bf-6cef-44c3-9382-4b32f7f2cd79",
        "owner_name": "Mars",
        "display_name": "Mars (Mars)",
        "can_manage": true,
        "can_create_event": true
      }
    ],
    "spaces_permission": {
      "326ee7a7-2c7c-4af0-9eb6-3f79b90dae92": true,
      "b1d9b3bf-6cef-44c3-9382-4b32f7f2cd79": true
    },
    "requested_at": 161610317
  }

### Calendar creation [/calendar/calendar]
#### Create a new calendar [POST]

+ Request (application/json)

  {
    "calendar[name]": "A new personal calendar",
    "calendar[owner_type]": "User",
    "calendar[owner_id]": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150"
  }

+ Response 201 (application/json)

{
  "calendar": {
    "id": 113,
    "owner_type": "User",
    "name": "A new personal calendar",
    "owner_id": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
    "owner_name": "Personal",
    "display_name": "A new personal calendar (Personal)",
    "can_manage": true,
    "can_create_event": true
  }
}

### Calendar deletion [/calendar/calendar/{calendar_id}]
#### Delete a calendar (delete together with all the events inside) [DELETE]

+ Request (application/json)

  {}

+ Response 200 (application/json)

  {
    "id": 113
  }

#### Delete a calendar (and move event to another calendar) [DELETE]

+ Request (application/json)

  {
    "move_events": true,
    "new_cal_id": 112
  }

+ Response 200 (application/json)

  {
    "old_cal_id": 114,
    "new_cal_id": 112
  }

### Event creation [/calendar/calendar/{calendar_id}/event]
#### Create a new event (no recurrence) [POST]

+ Request (application/json)

  {
    "event[calendar_id]": 7,
    "event[name]": "My first event!!!",
    "event[all_day]": 1,
    "event[date_start]": "07/11/2017",
    "event[date_finish]": "07/11/2017",
    "event[time_start]": "12:00am",
    "event[time_finish]": "12:00am"
  }

+ Response 201 (application/json)

  {
    "events": {
      "id": 1,
      "name": "My first event!!!",
      "description": "",
      "where": "",
      "all_day": true,
      "recurring_type": "not_repeat",
      "my_note": null,
      "old_head_id": null,
      "calendar_id": 7,
      "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
      "utc_start": "2017-11-07T12:00:00.000Z",
      "utc_finish": "2017-11-07T13:00:00.000Z",
      "utc_old_start": null,
      "utc_old_finish": null,
      "can_save": true,
      "can_delete": true,
      "timestamp": 1508398190
    }
  }

#### Create a new event (with recurrence) [POST]

+ Request (application/json)

  {
    "event[calendar_id]": 7,
    "event[name]": "My first recurrence",
    "event[date_start]": "07/11/2017",
    "event[time_start]": "8:00am",
    "event[date_finish]": "07/11/2017",
    "event[time_finish]": "9:00am",
    "event[recurring_type]": "weekly",
    "event[until]": "never",
    "event[repeat_every]": 1,
    "event[until_date]": "",
    "event[where]": "",
    "event[description]": "",
    "event[invite_others]": "",
    "event[see_guest_list]": "",
    "event[my_note]": "",
    "event[repeat_by]": 2,
    "event[all_day]": false
  }

+ Response 201 (application/json)

  {
    "events": [
      {
        "id": 65,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 64,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": 64,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-08T08:30:00.000Z",
        "utc_finish": "2017-11-08T09:30:00.000Z",
        "utc_old_start": "2017-11-08T08:30:00.000Z",
        "utc_old_finish": "2017-11-08T09:30:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508400561
      },
      {
        "id": 66,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 64,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": 64,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-15T08:30:00.000Z",
        "utc_finish": "2017-11-15T09:30:00.000Z",
        "utc_old_start": "2017-11-15T08:30:00.000Z",
        "utc_old_finish": "2017-11-15T09:30:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508400561
      },
      {
        "id": 67,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 64,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": 64,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-22T08:30:00.000Z",
        "utc_finish": "2017-11-22T09:30:00.000Z",
        "utc_old_start": "2017-11-22T08:30:00.000Z",
        "utc_old_finish": "2017-11-22T09:30:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508400561
      },
      {
        "id": 68,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 64,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": 64,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-29T08:30:00.000Z",
        "utc_finish": "2017-11-29T09:30:00.000Z",
        "utc_old_start": "2017-11-29T08:30:00.000Z",
        "utc_old_finish": "2017-11-29T09:30:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508400561
      },
      {
        "id": 69,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 64,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": 64,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-12-06T08:30:00.000Z",
        "utc_finish": "2017-12-06T09:30:00.000Z",
        "utc_old_start": "2017-12-06T08:30:00.000Z",
        "utc_old_finish": "2017-12-06T09:30:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508400561
      },
      {
        "id": 70,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 64,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": 64,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-12-13T08:30:00.000Z",
        "utc_finish": "2017-12-13T09:30:00.000Z",
        "utc_old_start": "2017-12-13T08:30:00.000Z",
        "utc_old_finish": "2017-12-13T09:30:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508400561}],
        "head_event": {
        "id": 64,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": true,
        "head_id": null,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": null,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-08T08:30:00.000Z",
        "utc_finish": "2017-11-08T09:30:00.000Z",
        "utc_old_start": null,
        "utc_old_finish": null,
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508400561
      }
    ]
  }

### Event update [/calendar/calendar/7/event/{calendar_id}]

#### Update an event (no recurrence) [PUT]

+ Request (application/json)

  {
    "event[name]": "My first event!!! (Edited)",
    "event[time_start]": "12:00pm",
    "event[time_finish]": "1:00pm",
    "event[until]": "never",
    "event[repeat_every]": 1,
    "event[until_date]": "",
    "event[invite_others]": "",
    "event[see_guest_list]": "",
    "event[my_note]": "",
    "event[repeat_by]": ""
  }

+ Response 200 (application/json)

  {
    "events":[
      {
        "id": 1,
        "name": "My first event!!! (Edited)",
        "description": "",
        "where": "",
        "all_day": true,
        "recurring_type": "not_repeat",
        "my_note": "",
        "old_head_id": null,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-07T12:00:00.000Z",
        "utc_finish": "2017-11-07T13:00:00.000Z",
        "utc_old_start": null,
        "utc_old_finish": null,
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508401619
      }
    ]
  }

#### Update an event (with recurrence and for future) [PUT]

+ Request (application/json)

  {
    "event[date_start]": "22/11/2017",
    "event[time_start]": "",
    "event[date_finish]": "22/11/2017",
    "event[time_finish]": "",
    "event[all_day]": true,
    "event[repeat_every]": 1,
    "event[until_date]": "13/12/2017",
    "event[invite_others]": "",
    "event[see_guest_list]": "",
    "event[future]": true
  }

+ Response 200 (application/json)

  {
    "events": [
      {
        "id": 71,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": true,
        "head_flag": false,
        "head_id": 67,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": 67,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-22T12:00:00.000Z",
        "utc_finish": "2017-11-22T13:00:00.000Z",
        "utc_old_start": "2017-11-22T12:00:00.000Z",
        "utc_old_finish": "2017-11-22T13:00:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508402510
      },
      {
        "id": 72,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": true,
        "head_flag": false,
        "head_id": 67,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": 67,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-29T12:00:00.000Z",
        "utc_finish": "2017-11-29T13:00:00.000Z",
        "utc_old_start": "2017-11-29T12:00:00.000Z",
        "utc_old_finish": "2017-11-29T13:00:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508402510
      },
      {
        "id": 73,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": true,
        "head_flag": false,
        "head_id": 67,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": 67,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-12-06T12:00:00.000Z",
        "utc_finish": "2017-12-06T13:00:00.000Z",
        "utc_old_start": "2017-12-06T12:00:00.000Z",
        "utc_old_finish": "2017-12-06T13:00:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508402510},
      {
        "id": 74,
        "name": "Recurrent event",
        "description": "",
        "where": "",
        "all_day": true,
        "head_flag": false,
        "head_id": 67,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-13",
        "repeat_every": 1,
        "repeat_by": "3",
        "my_note": "",
        "old_head_id": 67,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-12-13T12:00:00.000Z",
        "utc_finish": "2017-12-13T13:00:00.000Z",
        "utc_old_start": "2017-12-13T12:00:00.000Z",
        "utc_old_finish": "2017-12-13T13:00:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508402510
      }
    ],
    "head_event":  {
      "id": 67,
      "name": "Recurrent event",
      "description": "",
      "where": "",
      "all_day": true,
      "head_flag": true,
      "head_id": null,
      "recurring_type": "weekly",
      "until": "to_date",
      "until_date": "2017-12-13",
      "repeat_every": 1,
      "repeat_by": "3",
      "my_note": "",
      "old_head_id": null,
      "calendar_id": 7,
      "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
      "utc_start": "2017-11-22T12:00:00.000Z",
      "utc_finish": "2017-11-22T13:00:00.000Z",
      "utc_old_start": null,
      "utc_old_finish": null,
      "can_save": true,
      "can_delete": true,
      "timestamp": 1508402510
    }
  }

#### Update an event (with recurrence and for the entire series) [PUT]

+ Request (application/json)

  {
    "event[date_start]": 16/11/2017,
    "event[time_start]": 10:00am,
    "event[date_finish]": 16/11/2017,
    "event[time_finish]": 11:00am,
    "event[repeat_every]": 1,
    "event[until_date]": 14/12/2017,
    "event[invite_others]": "",
    "event[see_guest_list]": "",
    "event[all_day]": false,
    "event[all]": true
  }

+ Response 200 (application/json)

  {
    "events":[
      {
        "id": 82,
        "name": "Another recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 75,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-14",
        "repeat_every": 1,
        "repeat_by": "4",
        "my_note": "",
        "old_head_id": 75,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-09T00:00:00.000Z",
        "utc_finish": "2017-11-09T00:00:00.000Z",
        "utc_old_start": "2017-11-09T00:00:00.000Z",
        "utc_old_finish": "2017-11-09T00:00:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508406018
      },
      {
        "id": 83,
        "name": "Another recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 75,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-14",
        "repeat_every": 1,
        "repeat_by": "4",
        "my_note": "",
        "old_head_id": 75,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-16T00:00:00.000Z",
        "utc_finish": "2017-11-16T00:00:00.000Z",
        "utc_old_start": "2017-11-16T00:00:00.000Z",
        "utc_old_finish": "2017-11-16T00:00:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508406018
      },
      {
        "id": 84,
        "name": "Another recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 75,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-14",
        "repeat_every": 1,
        "repeat_by": "4",
        "my_note": "",
        "old_head_id": 75,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-23T00:00:00.000Z",
        "utc_finish": "2017-11-23T00:00:00.000Z",
        "utc_old_start": "2017-11-23T00:00:00.000Z",
        "utc_old_finish": "2017-11-23T00:00:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508406018
      },
      {
        "id": 85,
        "name": "Another recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 75,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-14",
        "repeat_every": 1,
        "repeat_by": "4",
        "my_note": "",
        "old_head_id": 75,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-11-30T00:00:00.000Z",
        "utc_finish": "2017-11-30T00:00:00.000Z",
        "utc_old_start": "2017-11-30T00:00:00.000Z",
        "utc_old_finish": "2017-11-30T00:00:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508406018
      },
      {
        "id": 86,
        "name": "Another recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 75,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-14",
        "repeat_every": 1,
        "repeat_by": "4",
        "my_note": "",
        "old_head_id": 75,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-12-07T00:00:00.000Z",
        "utc_finish": "2017-12-07T00:00:00.000Z",
        "utc_old_start": "2017-12-07T00:00:00.000Z",
        "utc_old_finish": "2017-12-07T00:00:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508406018
      },
      {
        "id": 87,
        "name": "Another recurrent event",
        "description": "",
        "where": "",
        "all_day": false,
        "head_flag": false,
        "head_id": 75,
        "recurring_type": "weekly",
        "until": "to_date",
        "until_date": "2017-12-14",
        "repeat_every": 1,
        "repeat_by": "4",
        "my_note": "",
        "old_head_id": 75,
        "calendar_id": 7,
        "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
        "utc_start": "2017-12-14T00:00:00.000Z",
        "utc_finish": "2017-12-14T00:00:00.000Z",
        "utc_old_start": "2017-12-14T00:00:00.000Z",
        "utc_old_finish": "2017-12-14T00:00:00.000Z",
        "can_save": true,
        "can_delete": true,
        "timestamp": 1508406018
      }
    ],
    "head_event":{
      "id": 75,
      "name": "Another recurrent event",
      "description": "",
      "where": "",
      "all_day": false,
      "head_flag": true,
      "head_id": null,
      "recurring_type": "weekly",
      "until": "to_date",
      "until_date": "2017-12-14",
      "repeat_every": 1,
      "repeat_by": "4",
      "my_note": "",
      "old_head_id": null,
      "calendar_id": 7,
      "created_by": "bdc6aced-f7d0-465d-9d8b-6629d1cfd150",
      "utc_start": "2017-11-09T00:00:00.000Z",
      "utc_finish": "2017-11-09T00:00:00.000Z",
      "utc_old_start": null,
      "utc_old_finish": null,
      "can_save": true,
      "can_delete": true,
      "timestamp": 1508406018
    },
    "head_id": 75,
    "first_entity": 82,
    "last_entity": 87
  }

### Event deletion [/calendar/calendar/7/event/{calendar_id}]

#### Delete an event (without recurrence) [DELETE]

+ Request (application/json)

{}

+ Response 200 (application/json)

{}

#### Delete an event (with recurrence and for future) [DELETE]

+ Request (application/json)

{
  "after": true
}

+ Response 200 (application/json)

{
  "head_id": 90,
  "first_entity": 91,
  "last_entity": 91
}

#### Delete an event (with recurrence and for the entire series) [DELETE]

+ Request (application/json)

{
  "all": true
}

+ Response 200 (application/json)

{}

